@page "{id:int}"
@model CodeCompete.Pages.Players.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Player.PlayerId" />
            <div class="form-group">
                <label asp-for="Player.Name" class="control-label"></label>
                <input asp-for="Player.Name" class="form-control" />
                <span asp-validation-for="Player.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.Description" class="control-label"></label>
                <input asp-for="Player.Description" class="form-control" />
                <span asp-validation-for="Player.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.Game" class="control-label"></label>
                <select asp-for="Player.Game.GameId"
                    class="form-control"
                    asp-items="Model.Games"></select>
            </div>
            <div class="form-group">
                <label asp-for="Player.ProgrammingLanguage" class="control-label"></label>
                <select asp-for="Player.ProgrammingLanguage.ProgrammingLanguageId"
                    class="form-control"
                    asp-items="Model.Languages"></select>
            </div>
            <div class="form-group">
                <label asp-for="Player.SourceCode" class="control-label"></label>
                <input asp-for="Player.SourceCode" class="form-control" />
                <span asp-validation-for="Player.SourceCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
